.guido-search-results{

}
.guido-search-results div{
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.guido-search-results a{
    text-decoration: underline;
    font-size: 18px;
}
.guido-search-results p{

}
.guido-content ul{
    list-style: disc;
}
.guido-content ol{
    list-style: decimal;
}
.guido-content ul,.guido-content ol {

    padding-left: 13px;
}
.guido-content ul li,.guido-content ol li{

}